<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pb-5 pt-5">
    	<div class="background pt-3" style="height: 700px">
				<h1 class="text-center pt-4 mt-5">〜Ani<i class="fas fa-paw"></i>Searchとは？〜</h1>
				<h4 class="text-center pt-2 mt-5">動物にふれあいに行こうー♪</h4>
				<h4 class="text-center">動物カフェに行きたいと思いたったら</h4>
				<h4 class="text-center mb-5">会いたい動物と場所をいれてさがしてみてね！！</h4>
					<%= image_tag "/images/agriculture-84702_640.jpg", :size => "250x200",class: "about_img ml-5 mt-5" %>
					<%= image_tag "/images/cat-3401683_640.jpg", :size => "250x200",class: "about_img ml-4 mt-5" %>
					<%= image_tag "/images/pets-3715733_640.jpg", :size => "250x200",class: "about_img ml-4 mt-5" %>
					<%= image_tag "/images/chicks-349035_640.jpg", :size => "250x200",class: "about_img ml-4 mt-5" %>
			</div>
		</div>
	</div>
</div>
