<div class="container pt-3">
  <div class="row">
    <div class="col-md-12 ">
    	<div class="background">

			<h1 class="top">Homes#top</h1>
			<div class="top">あHomes#top</div>
			<p>あFind me in app/views/homes/top.html.erb</p>
			</div>
		</div>
	</div>
</div>
