/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @font-face {
 	font-family: 'niku';
 	src: url('/fonts/nikumaru.otf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

/*共通レイアウト*/
a:hover {
 text-decoration:none;
}

.container-fluid {

	width: 100%;
	height: auto;
	background-image: url(/images/asi.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family: 'niku';
}

.background {
	width: 90%;
	height: auto;
	border-radius: 50px;
	background-color:rgba(179,211,172,0.6);
	margin: 0 auto ;
	padding: 0 50px;
 }

.title{
	font-size: 50px;
}

/*top*/

.top-title{
	font-size: 50px;
}

.card {
	border-radius: 50px;
	background-color:rgba(179,211,172,0.6);
	width: 500px;
	border: solid 2px white;
	margin: 0 0 20px 50px;
	font-size: 25px;
}

.card:hover {
  transform:scale(1.1,1.1);
}

.card-text-name{
	font-size: 35px;
}

.card-text-address{
	font-size: 25px;
	margin: 0 50px 0;
}

.card-tag {
	margin: 0 50px 0;
}

.tag {
	background-color: #afd0ef;
}


.card-img-top {
	width: 496px;
	height: 300px;
	border-radius: 50px 50px 0 0;
}

.box {
	position: relative;
	max-width: 1280px;
	height: 600px;
	margin: auto;
	overflow: hidden;
	border-radius: 30px;
}

.box .bgimg {
  position   : absolute;
  background-position: center;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;
}

.box .src1 {
	background-image: url(/images/cat-323262_1280.jpg);
}
.box .src2 {
	background-image: url(/images/dwarf-spitz-386700_1280.jpg);
	animation-delay: 5s;
}
.box .src3 {
	background-image: url(/images/lop-eared-314881_1280.jpg);
	animation-delay: 10s;
}

.box .src4 {
	background-image: url(/images/hedgehog-468228_1280.jpg);
	animation-delay: 15s;
}

@keyframes bgAnime {
	0%{opacity: 0;}
	5%{opacity: 1;}
	25%{opacity: 1;}
	30%{opacity: 0;}
	100%{opacity: 0;}
}

.pagination {
	justify-content: center;
  height: 60px;
  margin: 50px auto 0;
}

.pagination a {
  background-color: #b2d6d4;
  text-decoration: none;
  font-family: 'niku';
}

.pagination * {
	width: 60px;
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 30px;
  font-family: 'niku';
  text-align: center;
}

.current {
  font-style: normal;
  color: white;
  background: #93c9ff;
  border-radius: 30px;
  font-family: 'niku';
}

.pagination a:hover {
  background: #93c9ff;
  color: white;
  animation: round 0.4s;
}

.pagination .disabled {
  color: white;
  padding: 20px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  font-family: 'niku';
}

@keyframes round {
	0% {transform:translateY(5px);}
	20% {transform:translateY(-5px);}
	40% {transform:translateY(-15px);}
	60% {transform:rotate(30deg);}
	80% {transform:rotate(-30deg);}
	100% {transform:rotate(40deg);}
}



/*nav*/

nav {
	width: 100%;
	height: 80px;
 	font-family: 'niku';
 }
.navbar{
	margin: 0;
}

.navbar-logo {
  font-size: 40px;
}

.navbar-logo:hover {
  transform:scale(1.1,1.2);
}

.about-link{
	font-size: 35px;
	margin-top: 10px;
}

.about-link:hover {
  transform:scale(1.1,1.1);
}

.post-link{
	border: 2px solid #FFFFFF;
	font-size: 35px;
	padding: 0 10px;
	border-radius: 50px;
}

.post-link:hover {
  transform:scale(1.1,1.1);
}


.logout-icon{
	font-size: 40px;
	margin: 15px 0 0 10px;
}

.logout-icon:hover {
  transform:scale(1.2,1.2);
}

.navbar-nav {
	font-size: 25px;
	list-style: none;
	margin: 0 30px;
	display: inline
}

.nav_item {
	float:left;
	margin: 0 30px;
}

.search  {
	float:left;
}

.search-btn {
	width: 80px;
	height: 50px;
	border-radius: 30px;
	background-color: #e7e0aa;
	border: solid 2px white;
}

.search-btn:hover {
  transform:scale(1.1,1.1);
}

.search-tag {
	border-radius: 50px;
	width: 250px;
}

.search-address {
	border-radius: 50px;
	width: 250px;
}

input::placeholder {
  color: #dfe0d8;
  font-size: 20px;
}

/*footer*/

footer{
	color: #FFFFFF;
	font-family: 'niku';
	font-size: 20px;
	width: 100%;
	text-align: center;
	line-height: 80px;
  height: 80px;
  background-color: #e7e0aa;
}

/*about*/

.background-about {
	height: 700px;
}

.about-title {
	font-size: 35px;
}

.about-body{
	font-size: 25px;
}

.about_img1 {
	background-position: center;
	background-size: cover;
	border-radius: 100px;
	width: 250px;
	height: 200px;
	background-image: url(/images/agriculture-84702_640.jpg);
	float:left;
}
.about_img2 {
	background-position: center;
	background-size: cover;
	border-radius: 100px;
	width: 250px;
	height: 200px;
	background-image: url(/images/cat-3401683_640.jpg);
	float:left;
}
.about_img3 {
	background-position: center;
	background-size: cover;
	border-radius: 100px;
	width: 250px;
	height: 200px;
	background-image: url(/images/pets-3715733_640.jpg);
	float:left;
}

.about_img4 {
	background-position: center;
	background-size: cover;
	border-radius: 100px;
	width: 250px;
	height: 200px;
	background-image: url(/images/chicks-349035_640.jpg);
	float:left;
}

/*show*/

.show-img {
	width: 830px;
	height: 500px;
	border-radius: 50px;
	margin-left: 50px;
}

.show-body{
	font-size: 30px;
}

.show-th {
	width: 300px;
}

.show-td {
	width: 500px;
}

/*admin_index*/

.index-img {
	width: 250px;
	height: 150px;
	border-radius: 50px;
}

.index-store-name {
	width: 300px;
	font-size: 30px;
}

.index-store-address {
	width: 500px;
	font-size: 20px;
}

.index-store-tag {
	width: 320px;
	font-size: 20px;
}

.successfully-text {
	font-size: 40px;
}

table.table-index tr:hover {
	background-color: rgba(178,214,212,0.6);
	color: #FFFFFF;
}

/*admin_show*/

.btn-show-edit {
	border-radius: 50px;
	width: 200px;
	background-color: #9ac29f;
}

.btn-show-edit:hover {
  transform:scale(1.1,1.1);
}

.btn-Delete {
	border-radius: 50px;
	width: 200px;
	background-color: #d7847e;
}

.btn-Delete:hover {
  transform:scale(1.1,1.1);
}

.successfully-text {
	font-size: 40px;
}

/*edit*/

.p{
	font-size: 25px;
}

.btn-edit {
	font-size: 25px;
	border-radius: 50px;
}

.btn-edit:hover {
  transform:scale(1.1,1.1);
}

.error-text {
	font-size: 40px;
}


/*new*/

.p{
	font-size: 25px;
}

.btn-post {
	font-size: 25px;
	border-radius: 50px;
}

.btn-post:hover {
  transform:scale(1.1,1.1);
}

.error-text {
	font-size: 40px;
}


/*login*/

.background-login {
	height: 550px;
}

.login {
	margin: 0 auto;
}

.btn-login{
	width: 150px;
	margin-left: 150px;
}

.login-title{
	font-size: 40px;
}

@media screen and (max-width:425px) {

/*nav*/

nav {
	width: 100%;
	height: 50px;
 }

.navbar-logo {
   font-size: 15px;
}

.navbar-nav {
	font-size: 25px;
	margin: 0 ;
	display: inline
}

.nav_item {
	float:left;
	margin: 0;
}

.search  {
	margin-top: 10px;
	float:left;
	font-size: 10px;
}

.about-link{
	font-size: 15px;
	margin-top: 10px;
}

.post-link{
	border: 1px solid #FFFFFF;
	font-size: 15px;
	padding: 0 8px;
}

.logout-icon{
	font-size: 20px;
	margin: 10px 0 0 20px;
}

.search-tag {
	width: 85px;
	height: 20px;
}

.search-address {
	width: 85px;
	height: 20px;
}

.search-btn {
	width: 40px;
	font-size: 8px;
	height: 25px;
	border: solid 1px white;
}

input::placeholder {
  font-size: 10px;
}

/*footer*/

footer{
	font-size: 10px;
	line-height: 40px;
  height: 40px;
}

/*共通レイアウト*/

.container-fluid {
	width: 100%;
	font-size: 35px;
}

.background {
	width: 100%;
	height: auto;
	padding: 0;
}

.title{
	font-size: 25px;
}

/*top*/

.top-title{
	font-size: 30px;
}

.box {
	max-width: 425px;
	height: 300px;
	margin: auto;
}

.card {
	width: 173px;
	margin: 0 0 0 17px;
	font-size: 10px;
}

.card-text-name{
	font-size: 15px;
}

.card-text-address{
	font-size: 10px;
	margin: 0 10px 0;
}

.card-tag {
	margin: 0 10px 0;
}

.card-img-top {
	width: 169px;
	height: 110px;
}

.pagination {
  height: 25px;
  margin: 20px auto 0;
}

.pagination * {
	width: 30px;
  margin: 0 3px;
  padding: 5px 5px;
  font-size: 10px;
}

.pagination .disabled {
  padding: 5px 5px;
  border: 1px solid #FFFFFF;
}

/*show*/

.show-img {
	width: 350px;
	height: 200px;
	margin-left: 22px;
}

.show-body{
	font-size: 15px;
}

/*about*/

.background-about {
	height: 500px;
}

.about-title {
	font-size: 25px;
}

.about-body{
	font-size: 15px;
}

.about_img1 {
	width: 60px;
	height: 50px;
}

.about_img2 {
	width: 60px;
	height: 50px;
}

.about_img3 {
	width: 60px;
	height: 50px;
}

.about_img4 {
	width: 60px;
	height: 50px;
}

/*admin_index*/

.index-img {
	width: 60px;
	height: 40px;
	border-radius: 50px;
}

.index-store-name {
	width: 120px;
	font-size: 10px;
}

.index-store-address {
	width: 130px;
	font-size: 10px;
}

.index-store-tag {
	width: 100px;
	font-size: 5px;
}

.successfully-text {
	font-size: 25px;
}

.btn-admin-index{
	font-size: 10px;
}

/*admin_show*/

.btn-show-edit {
	width: 90px;
	font-size: 15px;
}

.btn-Delete {
	width: 90px;
	font-size: 15px;
}

.successfully-text {
	font-size: 25px;
}

/*edit*/

.p{
	font-size: 15px;
	margin-left: 50px;
}

.btn-edit {
	font-size: 15px;
}

.error-text {
	font-size: 25px;
}

/*new*/

.p{
	font-size: 15px;
	margin-left: 50px;
}

.btn-post {
	font-size: 15px;
}

.error-text {
	font-size: 25px;
}

/*login*/

.background-login {
	height: 450px;
}

.login {
	margin: 0 70px;
}

.btn-login{
	width: 80px;
	margin-left: 100px;
}

.login-title{
	font-size: 25px;
	margin-left: 30px;
}


}





