/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @font-face {
 	font-family: 'niku';
 	src: url('/fonts/nikumaru.otf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

/*共通レイアウト*/

.container-fluid {

	width: 100%;
	height: auto;
	background-image: url(/images/asi.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family: 'niku';
}

.background {
	width: 90%;
	height: auto;
	border-radius: 50px;
	background-color:rgba(179,211,172,0.6);
	margin: 0 60px ;
}

/*top*/

.card {
	border-radius: 50px;
	background-color:rgba(179,211,172,0.6);
}

.box {
	position: relative;
	max-width: 1280px;
	height: 600px;
	margin: auto;
	overflow: hidden;
	border-radius: 30px;
}

.box .bgimg {
  position   : absolute;
  background-position: center;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;
}

.box .src1 {
	background-image: url(/images/cat-323262_1280.jpg);
}
.box .src2 {
	background-image: url(/images/dwarf-spitz-386700_1280.jpg);
	animation-delay: 5s;
}
.box .src3 {
	background-image: url(/images/lop-eared-314881_1280.jpg);
	animation-delay: 10s;
}

.box .src4 {
	background-image: url(/images/hedgehog-468228_1280.jpg);
	animation-delay: 15s;
}

@keyframes bgAnime {
	0%{opacity: 0;}
	5%{opacity: 1;}
	25%{opacity: 1;}
	30%{opacity: 0;}
	100%{opacity: 0;}
}

/*nav*/

nav {
	width: 100%;
	height: 80px;
 	font-family: 'niku';
 	padding: 15px 20px;
 }
.navbar{
	margin: 0;
}

.navbar-logo {
    font-size: 35px;
}

.navbar-nav {
	font-size: 25px;
	list-style: none;
	margin: 0;
}

.nav_item {
	padding: 15px 20px;
}

/*footer*/

footer{
	color: #FFFFFF;
	font-family: 'niku';
	width: 100%;
	text-align: center;
	line-height: 70px;
  	height: 70px;
}

/*about*/

.about_img {
	background-position: center;
	background-size: cover;
	border-radius: 100px;
}

/*admin_top*/

.table .center {
 	margin-top: 30px;
}





